fastapi
uvicorn
langchain
langchain-openai
langchain-anthropic
langchain-community
python-dotenv
google-cloud-storage
google-cloud-firestore
google-cloud-run
pinecone-client
pydantic
pydantic-settings
rank-bm25
langchain-google-community