fastapi
uvicorn
langchain
langchain-openai
langchain-anthropic
langchain-community
# langchain-google-community
langchain-google-community[drive]
langchain-pinecone
python-dotenv
google-cloud-storage
google-cloud-firestore
google-cloud-run
pinecone-client
pydantic
pydantic-settings
rank-bm25
google-api-python-client
google-auth-httplib2
google-auth-oauthlib